@media only screen and (max-width: 979px) {
			video {
				max-width: 100%;
			}
}		
		
h1{
    font: normal 30px/1.5 'Open Sans', sans-serif;
    color:black;
    margin: 20px 0;
    text-align: center;
    text-shadow: 5px 4px 5px #ffcb0b;
    letter-spacing: 4px;
    font-weight: bold;
}

	
	.imag{
	width:370px;
  height: 190px;
	}


.ini{
    text-align: center;
    background-color: #FCF8D9;
}

.todapag{
    text-align: center;
    background-color: #FCF8D9;
}

  .btnopci {
    padding: 0 16px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 50px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 10px 0;
}

  .btnopci2{
    padding: 0 16px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
width:350px;
  height: 50px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 10px 0;
}

.botonent1{
    text-align: center;
}

input{
    width:400px;
    height:100px;
    margin-top:10px;
    border-radius:5px 5px 5px 5px;
    font-size:1em;
    padding:5px;
    text-align:center;
}


.btncompra {
    padding: 0 16px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 80px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 8px 5px;
}

.contenedor{
    background-color:#ffcb0b;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width:370px;
    height:300px;
    padding:5px;
    box-shadow:2px 2px 10px;
    text-align:center;
}

.contenedorP{
    background-color:#ffcb0b;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:370px;
    height:80px;
    padding:5px;
    box-shadow:2px 2px 10px;
    text-align:center;
}

.parrafo{
	text-align: left;
	border-top: 1px solid #BBB;
	border-right: 1px solid #f5f5f5;
	border-buttom: 1px solid #FFF;
	border-left: 1px solid #f5f5f5;
	box-shadow:2px 2px 10px;
	color: #ffcb0b;
	background-color: black;
	padding:5px;
	}
	
	select{
color: black;
width:300px;
    height:50px;
font-size:1.3em;
    padding:5px;
    text-align:center;
}
select option:first-child {
	color: red;
	}
	
	select option {
		color: black;
		}
		
		