@media only screen and (max-width: 700px) {
			video {
				max-width: 100%;
			}
		}
		
h1{
    font: normal 30px/1.5 'Open Sans', sans-serif;
    color:black;
    margin: 20px 0;
    text-align: center;
    text-shadow: 5px 4px 5px #ffcb0b;
    letter-spacing: 4px;
    font-weight: bold;
}

.contenedor{
    background-color:#ffcb0b;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    width:330px;
    height:650px;
    padding:10px;
    box-shadow:2px 2px 10px;
    text-align:center;
}

.contenedor2{
    background-color:#ffcb0b;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    width:330px;
    height:150px;
    padding:10px;
    box-shadow:2px 2px 10px;
    text-align:center;
}

.todapag{
    text-align: center;
    background-color: #FCF8D9;
}

  .btnopci {
    padding: 0 16px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 50px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 10px 0;
}

input{
    width:300px;
    height:50px;
    margin-top:10px;
    border-radius:5px 5px 5px 5px;
    font-size:1.3em;
    padding:5px;
    text-align:center;
}

select{
color: black;
width:300px;
    height:50px;
font-size:1.3em;
    padding:5px;
    text-align:center;
}
select option:first-child {
	color: red;
	}
	
	select option {
		color: black;
		}