@media only screen and (max-width: 979px) {
			video {
				max-width: 100%;
			}
}		
		
h1{
    font: normal 70px/1.5 'Open Sans', sans-serif;
    color:#ffcb0b;
    margin: 0px 0;
    text-align: center;
    text-shadow: 5px 4px 5px black;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top:0px;
}

.ini{
    text-align: center;
    background-color: #FCF8D9;
}

.todapag{
    text-align: center;
    background-color: #FCF8D9;
}

  .btnopci {
    padding: 0 16px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 36px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 10px 0;
 text-align: center;
}


    
    .btnent {
  padding: 0 16px;
  border-radius: 5px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 36px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 10px 0;
}

.botonent1{
    text-align: center;
}

form{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:270px;
    height:265px;
    padding:10px;
    text-align:center;
  border-radius: 20px;
background: linear-gradient(145deg, #ffcb0b, #e6b70a);
box-shadow:  9px 9px 19px #7a6105,
             -9px -9px 19px #ffffff;
}

.input1{
    width:200px;
    height:35px;
    margin-top:5px;
    border-radius:5px 5px 5px 5px;
    font-size:1.5em;
    padding:5px;
    text-align:center;
}
	
.cuadroBotones{
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width:270px;
    height:177px;
    padding:10px;
    text-align:center;
border-radius: 20px;
background: #ffcb0b;
box-shadow:  9px 9px 19px #7a6105,
             -9px -9px 19px #ffffff;
}

 .labela{
	font-size:1.5em;
    font-family:sans-serif;
    width:300px;
    height:20px;
    text-align:center;
    color:black;
    margin:auto;
    margin-top:1px;
float: center;
	}
	

 .nav, .menu {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav {
    position: relative;
    background-color: #ffcb0b;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    height: 30px;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

img{
  width:250px;
  height:130px;
	}
	
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:10px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
