@media only screen and (max-width: 700px) {
			video {
				max-width: 100%;
			}
		}
		
h1{
    font: normal 70px/1.5 'Open Sans', sans-serif;
    color:#ffcb0b;
    margin: 10px 0;
    text-align: center;
    text-shadow: 5px 4px 5px black;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top:10px;
}

.todapag{
    text-align: center;
    background-color: #FCF8D9;
}