
		@media only screen and (max-width: 700px) {
			video {
				max-width: 100%;
			}
		}
		

.todapag{
    text-align: center;
    background-color: #FCF8D9;
}

.contenedor{
    background-color:#ffcb0b;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    width:330px;
    height:270px;
    padding:10px;
    box-shadow:2px 2px 10px;
    text-align:center;
    border-radius: 0 0 50px 50px;
}

.contenedor2{
    background-color:#ffcb0b;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    width:330px;
    height:120px;
    padding:10px;
    box-shadow:2px 2px 10px;
    text-align:center;
}

h3{
	margin-top:5px;
	}

.btnSolicitar{
    padding: 0 16px;
  border-radius: 50px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 70px;
  line-height: 2.25rem;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 10px 0;
}

.btnSalir{
    padding: 0 16px;
  border-radius: 50px;
  background-color: black;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color:#ffcb0b ;
  height: 50px;
  line-height: 2.0rem;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 5px 0;
}

.imag{
	margin-top: 5px;
	width:380px;
  height: 180px;
	}

input{
    width:300px;
    height:50px;
    margin-top:10px;
    border-radius:5px 5px 5px 5px;
    font-size:1.3em;
    padding:5px;
    text-align:center;
}

select{
  color: black;
  width:300px;
  height:50px;
  font-size:1.3em;
  padding:5px;
  text-align:center;
}
select option:first-child {
  color: red;
}
select option {
  color: black;
}

 .nav, .menu {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav {
    position: relative;
    background-color: #ffcb0b;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
    height: 30px;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
